# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store

# Build and packaging
build/
dist/
*.egg-info/
